body {
  background-color: azure;
}

label {
  font-weight: bold;

}


input {
  width: 250px;
  height: 30px;
  border: 1px solid #ccc;

  border-radius: 5px;
  box-sizing: border-box;
}

.logo {
  width: 150px;
  height: 100px;
}

.container {
  width: 500px;
  height: 800px;
  margin: 0 auto;
}

.content {
  width: 80%;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}