<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="grey-bg">
  <%- include('nav') %>

  <div class="detail-bg">
    <h4><%= post.title %></h4>
    <p><%= post.content %></p>
    <!-- { 이미지 크기를 조절하고 싶으면 이미지 태그의 크기를 주면 됨 } -->
    <img src="<%= post.imgUrl %>" alt="img">
  </div>
</body>
</html>