<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MsBoard</title>

  <!-- /css/main.css λ΅ GET μ”μ²­μ„ λ³΄λ‚΄λ” κ²ƒμ„ -->
  <!-- app.js μ—μ„ app.use(express.static(path.join(__dirname, 'public')))λ΅ μΈν•΄ μ λ€κ²½λ΅/public/css/main.cssλ¥Ό μ°Ύμ•„μ£Όλ” κ²ƒ -->
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include('nav') %>

  <main>
    <h3>π“‹ MsBoard μ„λΉ„μ¤ μ¤ν”</h3>
    <p>μΌμƒμ„ κΈ°λ΅ν•μ„Έμ”.</p>
  </main>
</body>
</html>